<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="tr-TR" fileEncoding="windows-1254" uiCulture="tr"/>
    <sessionState timeout="10000"/>
    <authentication mode="Forms">
      <forms timeout="500000"/>
    </authentication>
<customErrors mode="Off"/>
  </system.web>
</configuration>